<!DOCTYPE html>
<html>
<head>
    <title>Cursinho Web</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/logo.png">
    <link rel="stylesheet" href="/static/css/estilos.css">
</head>
<body>
    <header>
        <img src="/static/img/empresa.jpg" alt="Logotipo da empresa" id="img-logo">
        <nav>
            <a href="index">Página inicial</a>
            <a href="disciplinas">Disciplinas oferecidas</a>
            <a href="contato">Entre em contato</a>
        </nav>
    </header>
    <main>
        <h1>Bem-vindo ao Cursinho Web!</h1>
        <p>Nossa empresa oferece cursos de aprofundamento em programação.</p>
        <img src="/static/img/python.png" alt="Homem admirando o seu sucesso!">
    </main>
    <footer>
        <p>Cursinho Web - Todos os direitos reservados<br>
        Contato: <a href="mailto:email@provedor.com" id="link-email">email@provedor.com</a></p>
    </footer>
</body>
</html>