<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de cursos</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
    <h1>Informações dos nossos cursos</h1>
    <ul>
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li>Ciência da Computação</li>
        <li>Sistemas de Informação</li>
    </ul>
    <p>O nome enviado para o template é: {{ nome }}</p>
    <!--
        Até aqui ainda não expliquei a função do {{ nome }}. Foi apenas uma curiosidade que está registrada no vídeo da aula
    -->
</body>
</html>